language: csharp
solution: ProCraft.sln
notifications:
  irc:
    template:
      - "%{repository_slug} (%{commit}) : %{message}"
      - "Build details: %{build_url}"
    channels:
      - "irc.esper.net#ProCraft"
    on_success: change
script:
    - msbuild /p:Configuration=Release ProCraft.sln
after_success:
    - loc_=/home/travis/build/123DMWM/ProCraft/bin/Release/
    - ploc_=/home/travis/build/123DMWM/ProCraft/
    - zip_=/home/travis/build/123DMWM/${TRAVIS_COMMIT}.zip
    - zip -j ${zip_} ${loc_}*.exe ${loc_}*.dll ${ploc_}LICENSE.txt ${ploc_}README.txt
    - curl -i -F fileToUpload=@${zip_} -F key=${keyPhrase} https://123DMWM.tk/${php_link}
    
